<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pagofacil_card>
                <title>pagofacil card</title>
                <model>PagoFacil\Payment\Model\Payment\PagoFacilCard</model>
                <active>1</active>
                <cctypes>AE,VI,MC</cctypes>
                <payment_action>authorize_capture</payment_action>
            </pagofacil_card>
            <pagofacil_cash>
                <title>pagofacil cash</title>
                <model>PagoFacil\Payment\Model\Payment\Cash</model>
                <active>1</active>
                <cctypes>AE,VI,MC</cctypes>
                <payment_action>authorize_capture</payment_action>
            </pagofacil_cash>
        </payment>
    </default>
</config>